<configuration>
  <dllmap os="linux" dll="glfw.dll" target="Data/libs64/libglfw.so" cpu="x86-64"/>
  <dllmap os="linux" dll="glfw.dll" target="Data/libs32/libglfw.so" cpu="x86"/>
  <dllmap os="osx" dll="glfw.dll" target="Data/libs32/libglfw.dylib" cpu="x86"/>
  <dllmap os="osx" dll="glfw.dll" target="Data/libs64/libglfw.dylib" cpu="x86-64"/>
  <dllmap os="windows" dll="glfw.dll" target="Data/libs32/glfw.dll" cpu="x86"/>
  <dllmap os="windows" dll="glfw.dll" target="Data/libs64/glfw.dll" cpu="x86-64"/>
</configuration>